<template>
    <div>
        <h1>Pokédex</h1>
        <pokemon-list/>
    </div>
</template>

<script>
import PokemonList from "@/components/PokemonList.vue"

export default {
    name: "Index",
    components: { PokemonList }
}
</script>