<template>
    <div>
        <h1>{{ pokemon.name }}</h1>
    </div>
</template>

<script>
import FetchRequest from "@/classes/fetch.class.js"

export default {
    name: "Pokemon",
    data: function () {
        return {
            pokemon: {}
        }
    },
    mounted: async function() {
        try {
            const request = new FetchRequest(`https://pokeapi.co/api/v2/pokemon/${this.$route.params.id}`)
            const response = await request.send()
            this.pokemon = response
        } catch (error) {
            console.error(error)
        }
    }
}
</script>