<template>
    <div class="wrapper">
        <select name="search-endpoint"  v-model="endpoint" id="search-endpoint">
            <option value="pokemon">Name</option>
            <option value="type">Type</option>
        </select>
        <input type="text" name="search" id="search" v-model="search" placeholder="search by name or by type">
        <input type="submit" @click="launchSearch" value="search">
        <div class="search-results" v-if="displayResults">
            <button @click="displayResults = false">close</button>
            <pokemon-list-item v-if="endpoint === 'pokemon'" :pokemon-name="searchResult.name" :pokemon-url="searchUrl"/>
            <pokemon-list-item v-else v-for="(pokemon, index) in searchResult.pokemon.slice(0, 20)" :key="index" :pokemon-name="pokemon.pokemon.name" :pokemon-url="pokemon.pokemon.url"/>
        </div>
    </div>
</template>

<script>
import FetchRequest from "@/classes/fetch.class.js"
import PokemonListItem from "@/components/PokemonListItem.vue"

export default {
    name: "PokemonSearch",
    components: { PokemonListItem },
    data: function () {
        return {
            endpoint: 'pokemon',
            search: '',
            displayResults: false,
            searchResult: {}
        }
    },
    methods: {
        launchSearch: async function () {
            try {
                this.searchResult = {}
                const request = new FetchRequest(this.searchUrl)
                const response = await request.send()
                this.displayResults = true
                this.searchResult = response
                console.log(response)
            } catch (error) {
                console.error(error)
            }
        }
    },
    computed: {
        searchUrl: function () {
            return `https://pokeapi.co/api/v2/${this.endpoint}/${this.search}`
        }
    }
}
</script>

<style scoped>
.wrapper {
    position: relative;
}

.search-results {
    position: absolute;
    top: 2rem;
    left: 0;
    width: 100%;
    background: white;
    border: solid 1px black;
    padding-right: 2rem;
}

.search-results > button {
    position: absolute;
    right: 0;
}
</style>