<template>
    <router-link class="wrapper" :to="{ name: 'Pokemon', params: { id: pokemon.id } }">
        <img :src="pokemon.sprites.front_default" :alt="pokemonName">
        <div class="infos">
            <div>
                <div class="pokemon-name">{{ pokemonName }}</div>
                <div class="pokemon-type">{{ types }}</div>
            </div>
            <div class="pokemon-id">{{ pokemon.id }}</div>
        </div>
    </router-link>
</template>

<script>
import FetchRequest from "@/classes/fetch.class.js"

export default {
    name: "PokemonListItem",
    props: [ "pokemonUrl", "pokemonName" ],
    data: function () {
        return {
            pokemon: {
                sprites: {},
                types: []
            }
        }
    },
    mounted: function () {
        this.fetchPokemon()
    },
    methods: {
        fetchPokemon: async function() {
            try {
                const request = new FetchRequest(this.pokemonUrl)
                const response = await request.send()
                this.pokemon = response
            } catch (error) {
                console.error(error)
            }
        }
    },
    computed: {
        types: function() {
            const typeNames = []
            this.pokemon.types.forEach(type => {
                typeNames.push(type.type.name)
            })

            return typeNames.join(", ")
        }
    }
}
</script>

<style scoped>
.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.infos {
    flex: 1;
    display: flex;
    justify-content: space-between;
}
</style>