<template>
    <div>
        <h2>Pokemon List:</h2>
        <pokemon-search/>
        <pokemon-list-item v-for="(pokemon, index) in pokemons" :key="index" :pokemon-url="pokemon.url" :pokemon-name="pokemon.name"/>
    </div>
</template>

<script>
import FetchRequest from "@/classes/fetch.class.js"
import PokemonListItem from "@/components/PokemonListItem.vue"
import PokemonSearch from "@/components/PokemonSearch.vue"

export default {
    name: "PokemonList",
    components: {
        PokemonListItem,
        PokemonSearch
    },
    data: function () {
        return {
            pokemons: [],
            nextPage: '',
            previousPage: '',
            count: 0
        }
    },
    mounted: async function () {
        this.fetchPokemons()
    },
    methods: {
        fetchPokemons: async function () {
            try {
                const request = new FetchRequest('https://pokeapi.co/api/v2/pokemon')
                const response = await request.send()
                this.pokemons = response.results
                this.nextPage = response.next
                this.previousPage = response.previous
                this.count = response.count
            } catch (error) {
                console.error(error)
            }
        }
    }
}
</script>